a.highlight:hover {
    color: pink;
  } 
  h1:active {
      color: yellow;
  }
  input:focus {
    background-color: yellow;
  }
  .red-input:focus {
    background: black;
    color: white;
  }
  
  .blue-input:focus {
    background: #f8bad9;
    color: blue;
  }