img{
    width: 400px;
    

}

.frax{
    width: 400px;
    margin: 10%;
    padding: 5px;
  position: relative;
  background: linear-gradient(to right, red, yellow, green, blue,purple);
  
}


 .alice{
    margin-left: 60%;
    margin: 60%;
    margin-top: -40%;
    background: linear-gradient(to right, rgb(26, 216, 26), purple);
    padding: 5px;
}


 .bean{
     margin: 10%;
     margin-top: -60%;
    background: linear-gradient(to right,  rgb(243, 81, 208), orange);
    padding: 5px;
}
 

 .laura{
     margin: 10%;
     margin-top: -40%;
     margin-left: 60%;
    position: relative;
    background: linear-gradient(to right,  blue, green); 
    padding: 5px;
 }

 .alicegas{
     margin: 10%;
     position: relative;
     background: linear-gradient(to right,  blue, green); 
     padding: 5px;
 }

 .ecc{
     margin:10%;
     margin-top: -85%;
     margin-right: 60%;
     background: linear-gradient(to right,  blue, green); 
     padding: 5px;
 }

 .cm{
     margin: 10%;
     position: relative;
     background: linear-gradient(to right,  blue, green); 
     padding: 5px;
 }

 .gupi{
     margin:10%;
     position: relative;
     background: linear-gradient(to right,  blue, green); 
     padding: 5px;
 }