html{
  font-family: 'Grenze Gotisch', cursive;
  font-weight: 800;
}


div {
  margin: 20px;
}

.vmax{
  
  background: lightcoral;
  width: 90vmax;
  height: 90vmax;
}

.vmin{
  background: lightseagreen;
  width: 50vmin;
  height: 50vmin;
}

  