body {
    background-color:rgb(0,0,0);
    background-image:url(http://www.zingerbugimages.com/backgrounds/rainbow_stars2.gif);
    background-position: top left;
    background-repeat: repeat;
    background-attachment:fixed;
}

.news-logo img {
    
}

.tweet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.twitter-tweet {
    margin: 1em;
}